# Ingore the production docker-compose.yml file
docker-compose.yml

# Ignore the actual config files
config/power_manager.conf
config/upshub.conf

# Ignore custom rsyslog configuration files
rsyslog/custom.conf

# Ignore local log files
logs/

# Ignore local environment file
.env

*.bkp
*.svg
*.drawio
*.docx
*.odt